*{
    
    font-weight: 500px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.container {
    height: 750px;
    width: 1510px;
}

.title {
    text-align: center;
}

.controls {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.search-container {
    position: relative;
    width: 450px;
}

.search-input {
    width: 420px;
    height: 29px;
    border: 1px solid #6c63ff;
    padding-right: 30px;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.filter-select {
    background-color: #6c63ff;
    border: none;
    height: 30px;
    border-radius: 3px;
    color: white;
   text-align: center;
   font-weight: 500;
   font-size: 20px;
}

.theme-button {
    width: 30px;
    height: 30px;
    background-color: #6c63ff;
    border: none;
    border-radius: 3px;
}

.note {
    display: flex;
    gap: 10px;
    text-align: center;
    margin-left: 525px;
    margin-top: 30px;
}

.note-text {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.note-icon {
   position: absolute;
    cursor: pointer;
    margin-left: 440px;
}

.edit-icon {
    position: absolute;
    margin-left: 410px;
    
    cursor: pointer;
}

.separator {
    color: #6c63ff;
    text-align: center;
    margin-top: -15px;
}

.add-button {
    background-color: #6c63ff;
    border-radius: 20px;
    border: none;
    text-align: center;
    justify-content: center;
    margin-left: 750px;
    cursor: pointer;
    background: #7b5dfc;
    border: none;
    border-radius: 24px;
    padding: 6px 10px;
    margin-top: 30px;

}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.modal-content {
    background: #fff;
    border-radius: 12px;
    padding: 50px;
    width: 360px;
    margin: 15% auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cfcfff;
    border-radius: 6px;
    outline: none;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.cancel,
.apply {
    width: 25%;
    padding: 10px;
    margin-top: 50px;
    border-radius: 8px;
    border: 1px solid #7b5dfc;
    font-weight: bold;
    cursor: pointer;
}

.cancel {
    background: white;
    color: #7b5dfc;
}

.apply {
    background: #7b5dfc;
    color: white;
    margin-left: 0px;
}

.dark-theme {
    background-color: #121212;
    color: #f5f5f5;
}

.dark-theme .modal-content {
    background: #1e1e1e;
    color: #fff;
}

.dark-theme .note-text {
    color: #f5f5f5;
}

.dark-theme .search-input {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #7b5dfc;
}

.dark-theme .filter-select,
.dark-theme .theme-button,
.dark-theme .add-button {
    background-color: #7b5dfc;
    color: #fff;
}

.dark-theme .cancel {
    background: #1e1e1e;
    color: #7b5dfc;
    border-color: #7b5dfc;
}

.dark-theme .apply {
    background: #7b5dfc;
    color: #fff;
}



.note-checkbox:checked~p {
    text-decoration: line-through;
}

.display-none {
    display: none !important;
}
.note_list{
     word-wrap: break-word;
}