body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 750px;
    width: 1510px;
}

.title {
    text-align: center;
}


.controls {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.search-container {
    position: relative;
    width: 450px;
}

.search-input {
    width: 420px;
    height: 29px;
    border: 1px solid #6c63ff;
    padding-right: 30px;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.filter-select {
    background-color: #6c63ff;
    border: none;
    height: 30px;
    border-radius: 3px;
    color: white;
}

.theme-button {
    width: 30px;
    height: 30px;
    background-color: #6c63ff;
    border: none;
    border-radius: 3px;
}


.note {
    display: flex;
    gap: 10px;
    text-align: center;
    margin-left: 525px;
    margin-top: 30px;
}



.note-text {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.note-icon {
    margin-left: 5px;
    cursor: pointer;
}

.edit-icon {
    margin-left: 320px;
}

.separator {
    color: #6c63ff;
    text-align: center;
    margin-top: -15px;
}

.add-button {
    background-color: #6c63ff;
    border-radius: 20px;
    border: none;
    text-align: center;
    justify-content: center;
    margin-left: 750px;
    cursor: pointer;
}